@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

body {
  min-height: 100vh;
  color: #000000;
  background-image: url("../image/wave-haikei.svg");
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: medium;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0rem;
}

.stage {
	display: grid;
	grid-template-columns: repeat(2, 570px);  /* 2列 幅30px */
	grid-gap: 2px; /* マス同士の隙間2px */

}

.combo{
  display: grid;
	grid-template-columns: repeat(5, 400px);  /* 2列 幅30px */
	grid-template-rows: repeat(2, 230px); /* 2行 高さ30px */
	grid-gap: 2px; /* マス同士の隙間2px */

}


