@import "./base.css";

a,
.green {
  color: var(--green-500);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--green-100);
  }
}

i {
  color: var(--text-color);
}

.resultInput{
  margin-top: 25px;
}

.right {
	position: absolute;
	top: 0;
	right: 0;
}

.bottom-right{
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.size {
  width: 400px;
};

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
